    <div class=container>
        <div class="row" style=" margin-top : 50px">
            <div class="col-md-4"></div>
            <div class="col-md-6 h1">Tes listes de tâches</div>
        </div>
        <div class="row">
            <div class="col-md-3" style="margin-top : 20px" ng-repeat="todo in todoGroup">

                <div class="card">
                    <img class="card-img-top" src="../images/todoGroup.jpg" alt="todo" />
                    <div class="card-body">
                        <h4 class="card-title"><a>{{ todo.nom }}</a></h4>
                        <p class="card-text">Ouvre ou modifie ta liste de tâche</p>
                        <div class="row">
                            <a ng-href="#!/todo?todoGroupId={{todo._id}}&todoGroupNom={{todo.nom}}" class="btn btn-info">Ouvrir</a>
                            <button ng-click="supprimerTG(todo._id)" class="btn btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-md-5"></div>
        <div class="col-md-3">
            <span to="" class="h3">Ajouter une nouvelle liste</span>
        </div>
    </div>
    <div class="row" style=" margin-top: 10px">
        <div class="col-md-5"></div>
        <form class="col-md-5">
            <input
                type="text"
                id="name"
                class="form-control mb-4"
                placeholder="Saisis le nom de ta nouvelle liste de tâche"
                ng-model="formData.nom"
            />
            <button type="submit" class="btn btn-primary" ng-click="ajouterTG()">Ajouter</button>
        </form>
    </div>
</div>